
@font-face {
    font-family: 'Share Tech Mono', monospace;
    src: url("../../fonts/ShareTechMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto Thin', monospace;
    src: url("../../fonts/Roboto-Thin.ttf") format('truetype');
}


form.nostromo-sheet {
    font-family: 'Share Tech Mono', monospace;
    min-width: 600px;
    padding: 5px;
    overflow-y: hidden;
    background-image: none;
    display: block;
    opacity: 0.96019;
    color: #FFCC00;
    background-color: #181511;
}

input[type=number] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 24px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid #7a7971;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

form.nostromo-sheet input[type=text], form.nostromo-sheet input[type=number] {
    color: #FFCC00;
    border: none;
    background: transparent;
}

form.nostromo-sheet input[type="text"]::placeholder {
    color: #94ffff;
    opacity: 1;
}


.green-inputs {
    color: #66ff00;
}

    .green-inputs .nostromo-label {
        background-color: #66ff00;
    }

.red-inputs {
    color: #ff0066;
}

    .red-inputs .nostromo-label {
        background-color: #ff0066;
    }


.blue-inputs {
    color: #00ccff
}

    .blue-inputs .nostromo-label {
        background-color: #00ccff;
    }


.nostromo-form-row {
    height: auto !important;
    border: 1px solid;
}

.nostromo-name-form-row {
    margin-bottom: 10px;
}

div.nostromo-name-value {
    padding-left: 5px;
}

div.nostromo-label {
    padding: 3px 2px 2px 5px;
    text-align: left;
    color: black;
    background-color: #FFCC00;
}
.nostromo-readonly-stat-value {
    padding: 3px 2px 2px 2px;
    text-align: center;
}

div.nostromo-name-label {
    font-size: 18px;
}

div.nostromo-name-input-container {
}

input.nostromo-text-input {
}

input.nostromo-name-input {
    font-size: 16px;
}

div.nostromo-window {
    border: 1px solid;
    padding: 0px;
}

    div.nostromo-window div.nostromo-window-header {
        height: 20px;
        background-color: #FFCC00;
        font-size: 16px;
        color: black;
        padding-left: 10px;
    }

div.nostromo-gauge-container {
    border-bottom: 2px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    padding: 0px;
    width: 20px;
}

.nostromo-border {
    border: 1px solid;
}

.nostromo-current-health-input {
    text-align: right !important;
}


.nostromo-tab-menu {
}


    .nostromo-tab-menu a {
        font-size: 16px;
        text-align: center;
        height: 25px;
        padding-top: 3px;
    }

        .nostromo-tab-menu a.active {
            color: black;
            background-color: #FFCC00;
        }

footer.nostromo-sheet-footer {
}

.nostromo-copyright {
    text-align: left;
}

.nostromo-os-version {
    text-align: right;
}

.nostromo-profile-img {
    width: 100%;
    height: auto !important;
    border: none;
}

.nostromo-divider {
    font-size: 18px;
    padding-top: 2px;
}

.nostromo-health-bar {
    height: 100%;
    background-color: red;
    width: 30%;
}

.nostromo-health-bar-container {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 5px 5px 5px 5px;
}

fieldset.nostromo-category-divider {
    border-width: 1px 0px 0px 0px;
}

.sheet-body.nostromo-character-sheet-body {
    height: 280px;
    overflow: hidden;
}

    .sheet-body.nostromo-character-sheet-body .tab {
        height: 100%;
        overflow-y: auto;
    }

    .sheet-body.nostromo-character-sheet-body .editor-edit {
        background: none;
        background-color: transparent;
        border-radius: 0px;
        border: none;
    }

.nostromo-skills-tab-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 270px;
}

.nostromo-table-container {
    height: 260px;
    overflow: auto;
    padding:5px;
}

.nostromo-table {
    padding:10px;
/*    border-collapse: separate;*/
    color: #FFCC00;
    width: 100%;
    border: none;
    background: none;
    background-color: transparent;
}

    .nostromo-table thead {
        text-align: left;
        color: #FFCC00;
        border-color: #FFCC00;
        background: none;
        background-color: transparent;
        border: none;
    }

    .nostromo-table tr.equipped-weapon {
        background-color: #FFCC00;
        border-color: #FFCC00;
        color: #181511 !important;
    }

    .nostromo-table tr.equipped-weapon input[type=text] {
        background-color: #FFCC00;
        color: #181511 !important;
    }

    .nostromo-table th {
        position: sticky;
        color: #FFCC00;
        border-color: #FFCC00;
        border-bottom: 1px dashed;
        top: 0;
        background-color: #181511;
    }

.nostromo-character-info-sheet {
    height: 200px;
}

.nostromo-info-tab {
    padding: 10px;
}

