<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bonus</th>
                    <th>Equipped</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventory.armor as |item id|}}
                <tr class="item {{#if item.data.equipped.value}}equipped-weapon{{/if}}" data-item-id="{{item._id}}">
                    <td>
                        <input name="item.{{item._id}}._id" type="hidden" value="{{item._id}}" data-dtype="String" />
                        <input name="item.{{item._id}}.name" type="text" value="{{item.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{item._id}}.data.bonus.value" type="text" value="{{item.data.bonus.value}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input type="checkbox" name="item.{{item._id}}.data.equipped.value" data-dtype="Boolean" {{checked item.data.equipped.value}} />
                    </td>
                    <td>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="armor" data-action="create"><i class="fas fa-plus"></i> Add Armor</a>
    </div>
</div>