<div class="basic-grid-12 grid-gap-10">
    <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-1">
        <div class="nostromo-label gridcol-1-4">
            <label for="data.attributes.class">
                Health
            </label>
        </div>
        <div class="nostromo-value gridcol-4-8">
            <input name="data.attributes.health.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.health.value}}" data-dtype="Number" />
        </div>
        <div class="gridcol-8 nostromo-divider">/</div>
        <div class="nostromo-value gridcol-9-12">
            <input name="data.attributes.health.max" type="text" value="{{data.attributes.health.max}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-2">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.attributes.stress.value">
                Stress
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.attributes.stress.value" type="text" value="{{data.attributes.stress.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-5-7 gridrow-2">
        <a class="attribute-control panic-roll" title="Panic Check" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-3">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.attributes.resolve.value">
                Resolve
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.attributes.resolve.value" type="text" value="{{data.attributes.resolve.value}}" data-dtype="Number" />
        </div>
    </div>
</div>