<div class="basic-grid-12 grid-gap-10">
    <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-1">
        <div class="nostromo-label nostromo-label gridcol-1-3 gridrow-1">
            <label for="name">
                Name
            </label>
        </div>
        <div class="nostromo-value gridcol-3-12">
            <input name="name" type="text" class="nostromo-name-input" value="{{actor.name}}" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-1-4 gridrow-2">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.attributes.level.value">
                Level
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-4-7 gridrow-2">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.attributes.experience.value">
                Exp
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.attributes.experience.value" type="text" value="{{data.attributes.experience.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-11 gridrow-2">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.attributes.skillPoints.value">
                S. Points
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <input name="data.attributes.skillPoints.value" type="text" value="{{data.attributes.skillPoints.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-3">
        <div class="nostromo-label gridcol-1-4">
            <label for="data.class">
                Class
            </label>
        </div>
        <div class="nostromo-name-value gridcol-4-12">
            <input name="data.class" type="text" class="" value="{{data.class}}" />
        </div>
    </div>

    <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-4">
        <div class="nostromo-label gridcol-1-4">
            <label for="data.attributes.job">
                Job
            </label>
        </div>
        <div class="nostromo-value gridcol-4-12">
            <input name="data.attributes.job" type="text" class="" value="{{data.attributes.job}}" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-5">
        <div class="nostromo-label gridcol-1-5">
            <label for="data.attributes.credits.value">
                Credits
            </label>
        </div>
        <div class="nostromo-value gridcol-5-12">
            <input name="data.attributes.credits.value" type="text" value="{{data.attributes.credits.value}}" data-dtype="Number" />
        </div>
    </div>
</div>