<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventory.items as |item id|}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>
                        <input name="item.{{item._id}}._id" type="hidden" value="{{item._id}}" data-dtype="String" />
                        <input name="item.{{item._id}}.name" type="text" value="{{item.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{item._id}}.data.quantity.value" type="text" value="{{item.data.quantity.value}}" data-dtype="Number" />
                    </td>
                    <td>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="item" data-action="create"><i class="fas fa-plus"></i> Add Item</a>
    </div>
</div>