<div class="basic-grid-12 grid-gap-10">
    {{!-- Strength --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-1">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Strength
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-1 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.strength.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.strength.bonus" type="text" value="{{data.stats.strength.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-1 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.strength.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.strength.penalty" type="text" value="{{data.stats.strength.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-1">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="strength" title="Strength Check" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Speed --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-2">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Speed
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-2 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.speed.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.speed.bonus" type="text" value="{{data.stats.speed.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-2 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.speed.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.speed.penalty" type="text" value="{{data.stats.speed.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-2">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="speed" title="Speed Check" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Intellect --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-3">

        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Intellect
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-3 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.intellect.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.intellect.bonus" type="text" value="{{data.stats.intellect.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-3 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.intellect.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.intellect.penalty" type="text" value="{{data.stats.intellect.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-3">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="intellect" title="Intellect Check" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Combat --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-4">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.combat.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Combat
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.combat.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-4 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.combat.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.combat.bonus" type="text" value="{{data.stats.combat.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-4 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.combat.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.combat.penalty" type="text" value="{{data.stats.combat.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-4">
        <a class="attribute-control stat-roll" title="Combat Check" data-stat-name="combat" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
</div>