<div class="basic-grid-12 grid-gap-10">
    {{!-- Combat --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-1">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.combat.value">
                Combat
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.combat.value" type="text" value="{{data.stats.combat.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-5-7 gridrow-1">
        <a class="attribute-control stat-roll" title="Combat Check" data-stat-name="combat" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Instinct --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-2">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.instinct.value">
                Instinct
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.instinct.value" type="text" value="{{data.stats.instinct.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-5-7 gridrow-2">
        <a class="attribute-control stat-roll" title="Instinct Check" data-stat-name="instinct" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Loyalty --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-3">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.loyalty.value">
                Loyalty
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.loyalty.value" type="text" value="{{data.stats.loyalty.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-5-7 gridrow-3">
        <a class="attribute-control stat-roll" title="Loyalty Check" data-stat-name="loyalty" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
</div>