<div class="basic-grid-12 grid-gap-10">
    {{!-- Sanity --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-1">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Sanity
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-1 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.sanity.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.sanity.bonus" type="text" value="{{data.saves.sanity.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-1 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.sanity.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.sanity.penalty" type="text" value="{{data.saves.sanity.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-1">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="sanity" title="Sanity Save" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Fear --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-2">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Fear
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-2 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.fear.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.fear.bonus" type="text" value="{{data.saves.fear.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-2 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.fear.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.fear.penalty" type="text" value="{{data.saves.fear.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-2">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="fear" title="Fear Save" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Body --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-3">
        <div class="nostromo-label gridcol-1-9">
            <label for="data.stats.instinct.value">
                <i class="fas fa-lock nostromo-lock-label"></i>Body
            </label>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.instinct.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-3 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.body.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.body.bonus" type="text" value="{{data.saves.body.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-3 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.body.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.body.penalty" type="text" value="{{data.saves.body.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-3">
        <a class="attribute-control aliased-stat-roll" data-stat-name="instinct" data-stat-alias="body" title="Body Save" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Armor --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-4">
        <div class="nostromo-label gridcol-1-9">
            <a class="attribute-control nostromo-stat-button aliased-stat-roll" data-stat-name="combat" data-stat-alias="armor" data-action="roll">
                <i class="fas fa-lock nostromo-lock-label"></i>Armor
            </a>
        </div>
        <div class="nostromo-value gridcol-9-12">
            <div class="nostromo-readonly-stat-value">{{data.stats.combat.value}}</div>
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-4 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.armor.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.armor.bonus" type="text" value="{{data.saves.armor.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-4 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.saves.armor.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.saves.armor.penalty" type="text" value="{{data.saves.armor.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-4">
        <a class="attribute-control aliased-stat-roll" data-stat-name="combat" data-stat-alias="armor" title="Armor Save" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
</div>