<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Damage</th>
                    <th>Shots</th>
                    <th>Ammo Left</th>
                    <th>Actions&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each weapons as |weapon id|}}
                <tr class="item" data-item-id="{{weapon._id}}">
                    <td>
                        <input name="item.{{weapon._id}}._id" type="hidden" value="{{weapon._id}}" data-dtype="String" />
                        <input name="item.{{weapon._id}}.name" type="text" value="{{weapon.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{weapon._id}}.data.damage.value" type="text" value="{{weapon.data.damage.value}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{weapon._id}}.data.shots.value" type="text" value="{{weapon.data.shots.value}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{weapon._id}}.data.remainingAmmo.value" type="text" value="{{weapon.data.remainingAmmo.value}}" data-dtype="Number" />
                    </td>
                    <td>
                        <a class="item-control weapon-attack" title="Attack"><i class="fas fa-bullseye"></i></a>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="shipWeapon" data-action="create"><i class="fas fa-plus"></i> Add Weapon</a>
    </div>
</div>