<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Req</th>
                    <th>Points</th>
                    <th>Hull</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each modules as |module id|}}
                <tr class="item" data-item-id="{{module._id}}">
                    <td>
                        <input name="item.{{module._id}}._id" type="hidden" value="{{module._id}}" data-dtype="String" />
                        <input name="item.{{module._id}}.name" type="text" value="{{module.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{module._id}}.data.moduleType.value" type="text" value="{{module.data.moduleType.value}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="checkbox" name="item.{{module._id}}.data.required.value" data-dtype="Boolean" {{checked module.data.required.value}} />
                    </td>
                    <td>
                        <input name="item.{{module._id}}.data.points.value" type="text" value="{{module.data.points.value}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input name="item.{{module._id}}.data.hull.value" type="text" value="{{module.data.hull.value}}" data-dtype="Number"/>
                    </td>
                    <td>
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="shipModule" data-action="create"><i class="fas fa-plus"></i> Add Module</a>
    </div>
</div>