<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each officers as |officer id|}}
                <tr class="item" data-item-id="{{officer._id}}">
                    <td>
                        <input name="item.{{officer._id}}._id" type="hidden" value="{{officer._id}}" data-dtype="String" />
                        <input name="item.{{officer._id}}.name" type="text" value="{{officer.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="officer" data-action="create"><i class="fas fa-plus"></i> Add Officer</a>
    </div>
</div>