<div class="basic-grid-12 grid-gap-10">
    {{!-- Strength --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-1">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.strength.value">
                Strength
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.strength.value" type="text" value="{{data.stats.strength.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-1 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.strength.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.strength.bonus" type="text" value="{{data.stats.strength.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-1 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.strength.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.strength.penalty" type="text" value="{{data.stats.strength.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-1">
        <a class="attribute-control stat-roll" title="Strength Check" data-stat-name="strength" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Speed --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-2">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.speed.value">
                <label for="data.stats.speed.value">
                    Speed
                </label>
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.speed.value" type="text" value="{{data.stats.speed.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-2 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.speed.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.speed.bonus" type="text" value="{{data.stats.speed.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-2 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.speed.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.speed.penalty" type="text" value="{{data.stats.speed.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-2">
        <a class="attribute-control stat-roll" title="Speed Check" data-stat-name="speed" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Intellect --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-3">

        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.intellect.value">
                <label for="data.stats.intellect.value">
                    Intellect
                </label>
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.intellect.value" type="text" value="{{data.stats.intellect.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-3 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.intellect.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.intellect.bonus" type="text" value="{{data.stats.intellect.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-3 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.intellect.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.intellect.penalty" type="text" value="{{data.stats.intellect.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-3">
        <a class="attribute-control stat-roll" title="Intellect Check" data-stat-name="intellect" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
    {{!-- Combat --}}
    <div class="basic-grid-12 nostromo-form-row gridcol-1-5 gridrow-4">
        <div class="nostromo-label gridcol-1-8">
            <label for="data.stats.combat.value">
                Combat
            </label>
        </div>
        <div class="nostromo-value gridcol-8-12">
            <input name="data.stats.combat.value" type="text" value="{{data.stats.combat.value}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-5-7 gridrow-4 blue-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.combat.bonus">
                +
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.combat.bonus" type="text" value="{{data.stats.combat.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 nostromo-form-row gridcol-7-9 gridrow-4 red-inputs">
        <div class="nostromo-label gridcol-1-7">
            <label for="data.stats.combat.penalty">
                -
            </label>
        </div>
        <div class="nostromo-value gridcol-7-12">
            <input name="data.stats.combat.penalty" type="text" value="{{data.stats.combat.penalty}}" data-dtype="Number" />
        </div>
    </div>
    <div class="basic-grid-12 gridcol-9-11 gridrow-4">
        <a class="attribute-control stat-roll" title="Combat Check" data-stat-name="combat" data-action="roll"><i class="fas fa-dice stat-roll-icon"></i></a>
    </div>
</div>
