<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Damage</th>
                    <th>Equipped&nbsp;</th>
                    <th>Shots&nbsp;&nbsp;</th>
                    <th>Ammo</th>
                    <th>&nbsp;Actions&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventory.weapons as |item id|}}
                <tr class="item {{#if item.data.equipped.value}}equipped-weapon{{/if}}" data-item-id="{{item._id}}">
                    <td>
                        <input name="item.{{item._id}}._id" type="hidden" value="{{item._id}}" data-dtype="String" />
                        <input name="item.{{item._id}}.name" type="text" value="{{item.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <input name="item.{{item._id}}.data.damage.value" type="text" value="{{item.data.damage.value}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="checkbox" name="item.{{item._id}}.data.equipped.value" data-dtype="Boolean" {{checked item.data.equipped.value}} />
                    </td>
                    <td>
                        {{item.data.loadedAmmo.value}}/{{item.data.shots.value}}
                    </td>
                    <td>
                        <input name="item.{{item._id}}.data.remainingAmmo.value" type="text" value="{{item.data.remainingAmmo.value}}" data-dtype="Number" />
                    </td>
                    <td>
                        {{#if item.metaData.canAttack}}
                        <a class="item-control weapon-attack" title="Attack"><i class="fas fa-bullseye"></i></a>
                        {{else}}
                        <i class="fas fa-bullseye icon-invisible"></i>
                        {{/if}}

                        {{#if item.metaData.canReload}}
                        <a class="item-control weapon-reload" title="Reload"><i class="fas fa-sync"></i></a>
                        {{else}}
                        <i class="fas fa-sync icon-invisible"></i>
                        {{/if}}

                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button item-create" data-item-type="weapon" data-action="create"><i class="fas fa-plus"></i> Add Weapon</a>
    </div>
</div>