﻿<form class="{{cssClass}} nostromo-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="nostromo-window">
            {{!-- Sheet Header Header --}}
            <div class="nostromo-window-header">
                {{data.universalSystemId}}
            </div>
            {{!-- Sheet Header Body --}}
            <div class="nostromo-header-content basic-grid-12 padding-10">


                <div class="gridrow-1 gridcol-1-4">
                    <img class="profile-img nostromo-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>

                <div class="gridrow-1 gridcol-4-12 padding-l-10">

                    <nav class="flexrow nostromo-tab-menu nostromo-info-tabs" data-group="info">
                        <a class="item" data-tab="info">info</a>
                        <a class="item" data-tab="condition">condition</a>
                        <a class="item" data-tab="stats">stats</a>
                        <a class="item" data-tab="saves">saves</a>
                    </nav>
                    <section class="nostromo-border nostromo-character-info-sheet">
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="info">
                            {{> "systems/nostromo/templates/actor/partial/info.html"}}
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="condition">
                            {{> "systems/nostromo/templates/actor/partial/condition.html"}}
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="stats">
                            {{> "systems/nostromo/templates/actor/partial/stats.html"}}
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="saves">
                            {{> "systems/nostromo/templates/actor/partial/saves.html"}}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow nostromo-tab-menu tabs margin-top-20" data-group="primary">
        <a class="item" data-tab="bio">bio</a>
        <a class="item" data-tab="skills">skills</a>
        <a class="item" data-tab="weapons">weapons</a>
        <a class="item" data-tab="armor">armor</a>
        <a class="item" data-tab="items">items</a>
        <a class="item" data-tab="notes">notes</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body nostromo-border nostromo-character-sheet-body">
        {{!-- Bio Tab --}}
        <div class="tab" data-group="primary" data-tab="bio">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Skills Tab --}}
        <div class="tab" data-group="primary" data-tab="skills">
            {{> "systems/nostromo/templates/actor/partial/skills.html"}}
        </div>
        {{!-- Weapons Tab --}}
        <div class="tab" data-group="primary" data-tab="weapons">
            {{> "systems/nostromo/templates/actor/partial/weapons.html"}}
        </div>
        {{!-- Armor Tab --}}
        <div class="tab" data-group="primary" data-tab="armor">
            {{> "systems/nostromo/templates/actor/partial/armor.html"}}
        </div>
        {{!-- Items Tab --}}
        <div class="tab" data-group="primary" data-tab="items">
            {{> "systems/nostromo/templates/actor/partial/items.html"}}
        </div>
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
        </div>
    </section>
    {{!-- Sheet Footer --}}
    {{> "systems/nostromo/templates/partial/footer.html"}}
</form>