﻿<form class="{{cssClass}} nostromo-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="nostromo-window">
            {{!-- Sheet Header Header --}}
            <div class="nostromo-window-header">
                {{data.universalSystemId}}
            </div>
            {{!-- Sheet Header Body --}}
            <div class="nostromo-header-content basic-grid-12 padding-10">


                <div class="gridrow-1 gridcol-1-4">
                    <img class="profile-img nostromo-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>

                <div class="gridrow-1 gridcol-4-12 padding-l-10">

                    <nav class="flexrow nostromo-tab-menu nostromo-info-tabs" data-group="info">
                        <a class="item" data-tab="info">info</a>
                        <a class="item" data-tab="condition">condition</a>
                        <a class="item" data-tab="mstats">m-stats</a>
                        <a class="item" data-tab="stats">stats</a>
                        <a class="item" data-tab="saves">saves</a>
                    </nav>
                    <section class="nostromo-border nostromo-character-info-sheet">
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="info">
                            <div class="basic-grid-12 grid-gap-10">
                                {{!-- name, class, rank --}}

                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-1">
                                    <div class="nostromo-label nostromo-label gridcol-1-3 gridrow-1">
                                        <label for="name">
                                            Name
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-3-12">
                                        <input name="name" type="text" class="nostromo-name-input" value="{{actor.name}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-4 gridrow-2">
                                    <div class="nostromo-label gridcol-1-8">
                                        <label for="data.attributes.level.value">
                                            Level
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-8-12">
                                        <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-4-7 gridrow-2">
                                    <div class="nostromo-label gridcol-1-8">
                                        <label for="data.attributes.experience.value">
                                            Exp
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-8-12">
                                        <input name="data.attributes.experience.value" type="text" value="{{data.attributes.experience.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-7-11 gridrow-2">
                                    <div class="nostromo-label gridcol-1-9">
                                        <label for="data.attributes.skillPoints.value">
                                            S. Points
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.skillPoints.value" type="text" value="{{data.attributes.skillPoints.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-3">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.job">
                                            Job
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-12">
                                        <input name="data.attributes.job" type="text" class="" value="{{data.attributes.job}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-4">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.attributes.credits.value">
                                            Credits
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.attributes.credits.value" type="text" value="{{data.attributes.credits.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="condition">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-1">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.hits.value">
                                            Hits
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-8">
                                        <input name="data.attributes.hits.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.hits.value}}" data-dtype="Number" />
                                    </div>
                                    <div class="gridcol-8 nostromo-divider">/</div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.hits.max" type="text" value="{{data.attributes.hits.max}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-2">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.hits.value">
                                            Pool
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-8">
                                        <input name="data.attributes.healthPool.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.healthPool.value}}" data-dtype="Number" />
                                    </div>
                                    <div class="gridcol-8 nostromo-divider">/</div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.healthPool.max" type="text" value="{{data.attributes.healthPool.max}}" data-dtype="Number" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="mstats">
                            {{> "systems/nostromo/templates/actor/partial/npc-mstats.html"}}
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="stats">
                            {{> "systems/nostromo/templates/actor/partial/npc-stats.html"}}
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="saves">
                            {{> "systems/nostromo/templates/actor/partial/mercenary-saves.html"}}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow nostromo-tab-menu tabs margin-top-20" data-group="primary">
        <a class="item" data-tab="bio">bio</a>
        <a class="item" data-tab="skills">skills</a>
        <a class="item" data-tab="weapons">weapons</a>
        <a class="item" data-tab="armor">armor</a>
        <a class="item" data-tab="items">items</a>
        <a class="item" data-tab="notes">notes</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body nostromo-border nostromo-character-sheet-body">
        {{!-- Bio Tab --}}
        <div class="tab" data-group="primary" data-tab="bio">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Skills Tab --}}
        <div class="tab" data-group="primary" data-tab="skills">
            {{> "systems/nostromo/templates/actor/partial/skills.html"}}
        </div>
        {{!-- Weapons Tab --}}
        <div class="tab" data-group="primary" data-tab="weapons">
            {{> "systems/nostromo/templates/actor/partial/weapons.html"}}
        </div>
        {{!-- Armor Tab --}}
        <div class="tab" data-group="primary" data-tab="armor">
            {{> "systems/nostromo/templates/actor/partial/armor.html"}}
        </div>
        {{!-- Items Tab --}}
        <div class="tab" data-group="primary" data-tab="items">
            {{> "systems/nostromo/templates/actor/partial/items.html"}}
        </div>
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
        </div>
    </section>
    {{!-- Sheet Footer --}}
    {{> "systems/nostromo/templates/partial/footer.html"}}
</form>