<form class="{{cssClass}} nostromo-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="nostromo-window">
            {{!-- Sheet Header Header --}}
            <div class="nostromo-window-header">
                {{data.universalSystemId}}
            </div>
            {{!-- Sheet Header Body --}}
            <div class="nostromo-header-content basic-grid-12 padding-10">
                <div class="gridrow-1 gridcol-1-4">
                    <img class="profile-img nostromo-profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
                </div>
                <div class="gridrow-1 gridcol-4-12 padding-l-10">
                    <nav class="flexrow nostromo-tab-menu nostromo-info-tabs" data-group="info">
                        <a class="item" data-tab="info">info</a>
                        <a class="item" data-tab="condition">condition</a>
                        <a class="item" data-tab="stats">stats</a>
                    </nav>
                    <section class="nostromo-border nostromo-character-info-sheet">
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="info">
                            <div class="basic-grid-12 grid-gap-10">
                                {{!-- name, class, rank --}}

                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-1">
                                    <div class="nostromo-label nostromo-label gridcol-1-3 gridrow-1">
                                        <label for="name">
                                            Name
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-3-12">
                                        <input name="name" type="text" class="nostromo-name-input" value="{{actor.name}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-2">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.shipType">
                                            Type
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-12">
                                        <input name="data.shipType" type="text" value="{{data.shipType}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-3">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.class">
                                            Class
                                        </label>
                                    </div>
                                    <div class="nostromo-name-value gridcol-4-12">
                                        <input name="data.class" type="text" class="" value="{{data.class}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-4">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.attributes.cost.value">
                                            Cost
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.attributes.cost.value" type="text" value="{{data.attributes.cost.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-5">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.attributes.cost.owed">
                                            Owed
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.attributes.cost.owed" type="text" value="{{data.attributes.cost.owed}}" data-dtype="Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="condition">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-1">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.hull.value">
                                            Hull
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-8">
                                        <input name="data.attributes.hull.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.hull.value}}" data-dtype="Number" />
                                    </div>
                                    <div class="gridcol-8 nostromo-divider">/</div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.hull.max" type="text" value="{{data.attributes.hull.max}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-2">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.fuel.value">
                                            Fuel
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-8">
                                        <input name="data.attributes.fuel.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.fuel.value}}" data-dtype="Number" />
                                    </div>
                                    <div class="gridcol-8 nostromo-divider">/</div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.fuel.max" type="text" value="{{data.attributes.fuel.max}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-9 gridrow-3">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.attributes.stock.value">
                                            Stock
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-8">
                                        <input name="data.attributes.stock.value" type="text" class="nostromo-current-health-input" value="{{data.attributes.stock.value}}" data-dtype="Number" />
                                    </div>
                                    <div class="gridcol-8 nostromo-divider">/</div>
                                    <div class="nostromo-value gridcol-9-12">
                                        <input name="data.attributes.stock.max" type="text" value="{{data.attributes.stock.max}}" data-dtype="Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="stats">
                            {{> "systems/nostromo/templates/actor/partial/ship-stats.html"}}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow nostromo-tab-menu tabs margin-top-20" data-group="primary">
        <a class="item" data-tab="description">description&nbsp;</a>
        <a class="item" data-tab="modules">modules</a>
        <a class="item" data-tab="weapons">weapons</a>
        <a class="item" data-tab="cargo">cargo</a>
        <a class="item" data-tab="officers">officers</a>
        <a class="item" data-tab="notes">notes</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body nostromo-border nostromo-character-sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Modules Tab --}}
        <div class="tab" data-group="primary" data-tab="modules">
            {{> "systems/nostromo/templates/actor/partial/ship-modules.html"}}
        </div>
        {{!-- Weapons Tab --}}
        <div class="tab" data-group="primary" data-tab="weapons">
            {{> "systems/nostromo/templates/actor/partial/ship-weapons.html"}}
        </div>
        {{!-- Cargo Tab --}}
        <div class="tab" data-group="primary" data-tab="cargo">
            {{> "systems/nostromo/templates/actor/partial/items.html"}}
        </div>
        {{!-- Officers Tab --}}
        <div class="tab" data-group="primary" data-tab="officers">
            {{> "systems/nostromo/templates/actor/partial/ship-officers.html"}}
        </div>
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
        </div>
    </section>
    {{!-- Sheet Footer --}}
    {{> "systems/nostromo/templates/partial/footer.html"}}
</form>