<div><b>Panic Roll</b></div>
<div>Stress: {{value}}</div>
<div>Roll: {{total}}</div>
<div>
    <b>{{#if success}}Keeps their cool...{{else}}Panics!!!{{/if}}</b>
</div>
<div>{{#if success}}stress relieved: 1{{/if}}</div>
