<div><b>{{name}} Roll</b></div>
<div>{{name}}: {{value}}</div>
<div>Bonus: {{bonus}}</div>
<div>Penalty: {{penalty}}</div>
<div>Total: {{total}}</div>
<div><b>Roll: {{result}}</b></div>
<div>
    {{#if critical}}<b>Critical </b>{{/if}}
    {{#if success}}<b>Success!</b>{{else}}<b>Failure!</b>{{/if}}
</div>
<div>Stress increased by 1</div>