<div class="nostromo-skills-tab-content">
    <div class="nostromo-table-container">
        <table class="nostromo-table critical-effects-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.criticalEffects as |critical id|}}
                <tr class="crit" data-crit-id="{{critical._id}}">
                    <td>
                        <input name="crit.{{critical._id}}._id" type="hidden" value="{{critical._id}}" data-dtype="String" />
                        <input name="crit.{{critical._id}}.name" type="text" value="{{critical.name}}" data-dtype="String" />
                    </td>
                    <td>
                        <a class="item-control crit-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="flexrow">
        <a class="attribute-control nostromo-form-button crit-create" data-item-type="criticalEffect" data-action="create"><i class="fas fa-plus"></i> Add Crit</a>
    </div>
</div>