<form class="{{cssClass}} nostromo-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="nostromo-window">
            {{!-- Sheet Header Header --}}
            <div class="nostromo-window-header">
                [ship weapon]&nbsp;{{item.name}}
            </div>
            {{!-- Sheet Header Body --}}
            <div class="nostromo-header-content basic-grid-12 padding-10">


                <div class="gridrow-1 gridcol-1-4">
                    <img class="profile-img nostromo-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                </div>

                <div class="gridrow-1 gridcol-4-12 padding-l-10">

                    <nav class="flexrow nostromo-tab-menu nostromo-info-tabs" data-group="info">
                        <a class="item" data-tab="info">info</a>
                        <a class="item" data-tab="specs">specs</a>
                    </nav>
                    <section class="nostromo-border nostromo-character-info-sheet">
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="info">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-1">
                                    <div class="nostromo-label nostromo-label gridcol-1-3 gridrow-1">
                                        <label for="name">
                                            Name
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-3-12">
                                        <input name="name" type="text" class="nostromo-name-input" value="{{item.name}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="specs">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-1">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.damage.value">
                                            Damage
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.damage.value" type="text" value="{{data.damage.value}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-2">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.shots.value">
                                            Shots
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.shots.value" type="text" value="{{data.shots.value}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow nostromo-tab-menu tabs margin-top-20" data-group="primary">
        <a class="item" data-tab="description">description</a>
        <a class="item" data-tab="notes">notes</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body nostromo-border nostromo-character-sheet-body">
        {{!-- Bio Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
        </div>
    </section>
    {{!-- Sheet Footer --}}
    {{> "systems/nostromo/templates/partial/footer.html"}}
</form>