﻿<form class="{{cssClass}} nostromo-sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="nostromo-window">
            {{!-- Sheet Header Header --}}
            <div class="nostromo-window-header">
                [weapon]&nbsp;{{item.name}}
            </div>
            {{!-- Sheet Header Body --}}
            <div class="nostromo-header-content basic-grid-12 padding-10">


                <div class="gridrow-1 gridcol-1-4">
                    <img class="profile-img nostromo-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                </div>

                <div class="gridrow-1 gridcol-4-12 padding-l-10">

                    <nav class="flexrow nostromo-tab-menu nostromo-info-tabs" data-group="info">
                        <a class="item" data-tab="info">info</a>
                        <a class="item" data-tab="specs">specs</a>
                        <a class="item" data-tab="range">range</a>
                    </nav>
                    <section class="nostromo-border nostromo-character-info-sheet">
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="info">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-1">
                                    <div class="nostromo-label nostromo-label gridcol-1-3 gridrow-1">
                                        <label for="name">
                                            Model
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-3-12">
                                        <input name="name" type="text" class="nostromo-name-input" value="{{item.name}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-2">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.make.value">
                                            Manufacturer
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.make.value" type="text" value="{{data.make.value}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-3">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.category.value">
                                            Category
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-12">
                                        <input name="data.category.value" type="text" value="{{data.category.value}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-12 gridrow-4">
                                    <div class="nostromo-label gridcol-1-4">
                                        <label for="data.series.value">
                                            Series
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-4-12">
                                        <input name="data.series.value" type="text" value="{{data.series.value}}" data-dtype="String" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-5">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.cost.value">
                                            Cost
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.cost.value" type="text" value="{{data.cost.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="specs">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-1">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.damage.value">
                                            Damage
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.damage.value" type="text" value="{{data.damage.value}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-2">
                                    <div class="nostromo-label gridcol-1-8">
                                        <label for="data.usesAmmo.value">
                                            Uses Ammo
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-8-12">
                                        <input type="checkbox" name="data.usesAmmo.value" data-dtype="Boolean" {{checked data.usesAmmo.value}} />
                                    </div>
                                </div>
                                {{#if data.usesAmmo.value}}
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-3">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.shots.value">
                                            Shots
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.shots.value" type="text" value="{{data.shots.value}}" data-dtype="Number" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-4">
                                    <div class="nostromo-label gridcol-1-8">
                                        <label for="data.automatic.value">
                                            Automatic
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-8-12">
                                        <input type="checkbox" name="data.automatic.value" data-dtype="Boolean" {{checked data.automatic.value}} />
                                    </div>
                                </div>
                                {{#if data.automatic.value}}
                                <div class="basic-grid-12 nostromo-form-row gridcol-7-12 gridrow-4">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.burst.value">
                                            Burst
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.burst.value" type="text" value="{{data.burst.value}}" />
                                    </div>
                                </div>
                                {{/if}}
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-5">
                                    <div class="nostromo-label gridcol-1-6">
                                        <label for="data.caliber.value">
                                            Caliber
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-6-12">
                                        <input name="data.caliber.value" type="text" value="{{data.caliber.value}}" />
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="tab nostromo-info-tab" data-group="info" data-tab="range">
                            <div class="basic-grid-12 grid-gap-10">
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-1">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.range.short.value">
                                            Short
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.range.short.value" type="text" value="{{data.range.short.value}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-2">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.range.medium.value">
                                            Medium
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.range.medium.value" type="text" value="{{data.range.medium.value}}" />
                                    </div>
                                </div>
                                <div class="basic-grid-12 nostromo-form-row gridcol-1-7 gridrow-3">
                                    <div class="nostromo-label gridcol-1-5">
                                        <label for="data.range.long.value">
                                            Long
                                        </label>
                                    </div>
                                    <div class="nostromo-value gridcol-5-12">
                                        <input name="data.range.long.value" type="text" value="{{data.range.long.value}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs flexrow nostromo-tab-menu tabs margin-top-20" data-group="primary">
        <a class="item" data-tab="description">description</a>
        <a class="item" data-tab="ammo">ammo</a>
        <a class="item" data-tab="crit">crit</a>
        <a class="item" data-tab="special">special</a>
        <a class="item" data-tab="notes">notes</a>
    </nav>
    {{!-- Sheet Body --}}
    <section class="sheet-body nostromo-border nostromo-character-sheet-body">
        {{!-- Bio Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Ammo Tab --}}
        <div class="tab" data-group="primary" data-tab="ammo">
            {{editor content=data.ammo.value target="data.ammo.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Crit Tab --}}
        <div class="tab" data-group="primary" data-tab="crit">
            {{> "systems/nostromo/templates/item/partial/critical-effects.html"}}
        </div>
        {{!-- Special Tab --}}
        <div class="tab" data-group="primary" data-tab="special">
            {{editor content=data.special.value target="data.special.value" button=true owner=owner editable=editable}}
        </div>
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor content=data.notes.value target="data.notes.value" button=true owner=owner editable=editable}}
        </div>
    </section>
    {{!-- Sheet Footer --}}
    {{> "systems/nostromo/templates/partial/footer.html"}}
</form>