
.margin-top-20 {
    margin-top: 20px;
}

.basic-grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
}

.grid-gap-10 {
    grid-gap: 10px;
}

.padding-10 {
    padding: 10px;
}

.gridrow-1 {
    grid-row: 1;
}

.gridrow-2 {
    grid-row: 2;
}

.gridrow-3 {
    grid-row: 3;
}

.gridrow-4 {
    grid-row: 4;
}

.gridrow-5 {
    grid-row: 5;
}

.gridrow-1-22 {
    grid-row: 1 / 13;
}


.gridrow-1-2 {
    grid-row: 1 / 2;
}

.gridcol-1-4 {
    grid-column: 1 / 4;
}

.gridcol-4-12 {
    grid-column: 4 / 13;
    /*margin-left: 10px;*/
}

.gridcol-1-3 {
    grid-column: 1 / 3;
}

.gridcol-1-8 {
    grid-column: 1 / 8;
}

.gridcol-5-12 {
    grid-column: 5 / 13;
}

.gridcol-8-12 {
    grid-column: 8 / 13;
}

.gridcol-4-6 {
    grid-column: 4 / 6;
}

.gridcol-6 {
    grid-column: 6;
}

.gridcol-4-7 {
    grid-column: 4 / 7;
}

.gridcol-7 {
    grid-column: 7;
}

.gridcol-7-9 {
    grid-column: 7 / 9;
}

.gridcol-9-11 {
    grid-column: 9 / 11;
}

.gridcol-11-12 {
    grid-column: 11 / 13;
}

.gridcol-3-12 {
    grid-column: 3 / 13;
}

.gridcol-5-7 {
    grid-column: 5 / 7;
}

.gridcol-7-9 {
    grid-column: 7 / 9;
}


.gridcol-1-6 {
    grid-column: 1 / 6;
}

.gridcol-6-12 {
    grid-column: 6 / 13;
}

.gridcol-7-10 {
    grid-column: 7 / 10;
}

.gridcol-10-12 {
    grid-column: 10 / 13;
}

.gridcol-1-7 {
    grid-column: 1 / 7;
}

.padding-l-10 {
    padding-left: 10px;
}

.gridcol-7-11 {
    grid-column: 7 / 11;
}

.gridcol-7-12 {
    grid-column: 7 / 13;
}

.gridcol-4-8 {
    grid-column: 4 / 8;
}

.gridcol-4-7 {
    grid-column: 4 / 7;
}

.gridcol-8-9 {
    grid-column: 8 / 9;
}

.gridcol-1-9 {
    grid-column: 1 / 9;
}

.gridcol-3-7 {
    grid-column: 3 / 7;
}

.gridcol-9-12 {
    grid-column: 9 / 13;
}

.gridcol-1-12 {
    grid-column: 1 / 13;
}

.gridcol-1-5 {
    grid-column: 1 / 5;
}

.gridcol-5-9 {
    grid-column: 5 / 9;
}

.gridcol-9-12 {
    grid-column: 9 / 13;
}
