.nostromo.sheet .window-content {
    padding: 0px;
}

.nostromo.sheet .crt-navigation-tabs {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto, auto);
    font-size: 14px;
    font-family: 'DejaVu Sans Mono', Inconsolata, Consolas, Courier, monospace;
    border-bottom: #ffCC00 dashed 2px;
    margin-top: 15px;
    height: 50px;
    border-top: #ffCC00 dashed 2px;
    text-align: center;
    padding-top: 12px;
    box-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
}

    .nostromo.sheet .crt-navigation-tabs a {
        color: #ffCC00;
    }

        .nostromo.sheet .crt-navigation-tabs a.active {
            color: #94ffff;
        }

vtt.players.background {
    background-size:auto;
}

.nostromo.sheet .editor {
    height: 100%;
}

.nostromo.sheet .editor-content {
    height: 100%;
}

.nostromo.sheet .tox-editor-container {
    z-index: 3;
    background-color: #fff;
}


.rollable:hover {
    cursor: pointer;
}

    .rollable:hover label {
        cursor: pointer;
    }




.nostromo-form-button {
    padding-top: 8px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    color: black;
    background-color: #FFCC00;
    margin: 10px;
    border-radius: 0px;
    border: none;
    width: auto;
}

.nostromo-stat-button {
    text-align: center;
    color: black;
    background: none;
    background-color:transparent;
    border: none;
    width: auto;
}

.nostromo-lock-label {
    margin-right: 2px;
}


.stat-roll-icon {
    margin-top:2px;
    font-size: 18px;
}

.icon-invisible {
    visibility: hidden;
}